@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow: ;
    list-style: none;
    line-height: 1.5;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}
html {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}
a{
    text-decoration: none;
    color: white;
}
button{
    border: none;
}
body{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    width: 100%;
    
    
}
.hero{
    background-image: url(images/background-images/Property\ 1=Frame\ 25\ \(1\).png);
    background-position: center;
    background-size: 150%;
    min-height: 100vh;
    padding-bottom: 2rem;
    background-color: black;
    -webkit-animation: changeBackground 5s infinite;
    
}
@keyframes changeBackground {
    0% {
      background-image: url(images/background-images/Property\ 1=Frame\ 23\ \(1\).png);
    }
    50% {
      background-image: url(images/background-images/Property\ 1=Frame\ 24\ \(1\).png);
    }
    100% {
      background-image: url(images/background-images/Property\ 1=Frame\ 25\ \(1\).png);
    }
  }
.container{
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
}
div.full-width-nav{
  transition: all 500ms ease-in-out;
}
div.full-width-nav.fixed{
  background-color: rgb(255, 255, 255);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.5);
}

.fixed #contacting.item{
  background-color: rgba(0, 0, 0, 0.5);
}

.fixed.hero{
  min-height: 118vh;
}
.fixed.hero-second-part{
  margin-top: 0;
  padding-top: 310px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 16px 0;
}
.logo{
    height: 90px;
    width: 90px;
}
.nav-bar, .second-nav{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 26px;
    display: flex;
    align-items: center;
    padding: 4px;
    
    
}
.navs{
  display: flex;
  justify-content: space-between;
  justify-self: center;
  width: 70%;
}
.nav-bar a, .second-nav li{
    color: #ffffff;
    padding: 8px 18px;
    border-radius: 20px;
    text-transform: capitalize;
    display: inline-block;
    text-align: center;
    transition: all 500ms ease-in;
    
}
.hamburger-container{
  display: none;
}
.hamburger-container i{
  font-size: 40px;
}

#contacting{
    background-color: transparent;
    padding: 5px 18px;
    color: white;
    /* font-size: 18px; */
    border: 1px white solid;
    border-radius: 20px;
    text-transform: capitalize;
    display: grid;
    place-items: center;

}
#contacting:hover{
    background-color: #ffffff;
    color: black;
    transition: all 1s ease-in-out;
}
header a.current, .second-nav li.current{
    background-color: #ffffff;
    color: black;
    
}
.yellow{
    color: #FFF500;
    font-weight: 500;
    margin-top: -3px;
}
.first-content h1{
    font-weight: 400;
    color: white;
    font-size: 4.8rem;
    line-height: 0.8;
    line-height: 01;
    margin-bottom: 0;
}
.hero-second-part{
    margin-top: 150px;
    color: white;
    width: 60vw;
    line-height: 1.5;
}
.get-in-touch{
    background-color: #FFB800;
    color: black;
    padding: 18px 50px;
    outline: none;
    border: none;
    font-size: 21px;
    font-weight: 600;
    margin-top: 14px;
    border-radius: 5px;
}
.content{
    line-height: 1.5;
}
.second-content{
    color: #E2E2E2;
   font-size: 20px;
}

/* second part */
.about{
    /* min-height: 90vh; */
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.about h1{
    font-weight: 600;
}
.about-us h1, #services h1, #testimonials h1, #portfolio h1, section#contact h1{
    position: relative;
    display: inline-block;
    padding: 3px;
}
.about-us h1::before, #services h1::before, #testimonials h1::before, #portfolio h1::before, section#contact h1::before{
    content: '';
    background-color: #FFB800;
    position: absolute;
    height: 4px;
    width: 60%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    border-radius: 4px;
}
#boxes{
    display: flex;
    gap: 20px;
    margin-top: 3rem;
}
#boxes p{
    font-size: 20px;
}

#boxes > div{
    min-height: 230px;
    width: calc(50% - 10px);
    background-color: #DCDCDC;
    color: black;
    padding: 25px;
    border-radius: 6px;
}

#learn-more{
    margin-top: 30px;
}

#learn-more a{
    display: inline-block;
    background-color: #FFB800;
    color: black;
    padding: 16px 50px;
    font-size: 30px;
    border-radius: 8px;
    font-weight: 400;
}

.services{
    text-align: center;
    padding-top: 2rem;
    background-color: black;
    color: white;
}
.services h1{
    font-weight: 600;
    margin-top: 2rem;
}
#image-imported{
    margin-top: 2rem;
    height: 75vh;
    width: 100%;
}
#image-imported img{
    height: 100%;
    width: 100%;
}
.sections{
    background-color: #1F1F1F;
    width: 100%;
    margin: 65px 0;
    padding: 40px;
    position: relative;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
            
}
.sections h4{
    font-size: 20px;
}
.small-image{
    display: block;
    position: absolute;
    height: 45px;
    width: 45px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sections-holder{
    padding-bottom: 10px;
    padding-top: 10px;
}
.show-boat{
    width: 100%;
    background-color: #3E3E3E;
}
.show-boat .container{
    display: flex;
    justify-content: space-between;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
}
.show-boat .container div{
    display: flex;
    flex-direction: column;
    
}
.show-boat .container div .name{
    color: #A0A0A0;
    font-size: 20px;
}
.show-boat .container div .figure{
    font-size: 30px;
    font-weight: 600;
}


#testimonials:not(a#testimonials){
    background-color: #F3F3F3;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: auto;
}
#testimonials h1{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
#testimonials p{
    font-size: 16px;
}

.swiper-container{
    width: 100%;
    margin-top: 1rem;

}
.swiper-slide {
    background-color: #fff;
    width: 400px;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    /* position: relative; */
    text-align: left;
    width: 400px;
    height: max-content;
  }
  .swiper-slide, .swiper-slide {
    height: max-content !important;
  }
  
  .quote-icon {
    font-size: 114px;
    color: rgba(0, 0, 0, 0.08);
    font-weight: 600;
    position: absolute;
    left: 5%;
    top: 0;
  }
  
  .quote-icon span {
    font-size: 8rem;
    line-height: 1;
    display: block;
    margin-left: -20px;
  }
  
  .reviewer-name {
    font-size: 19px;
    font-weight: 400;
    margin-top: 85px;
    color: black;
  }
  
  .remark {
    font-size: 22px;
    margin-top: 28px;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 30px;
    word-wrap: break-word
  }
  .swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  background-color:black !important;
  opacity: 0.7;
  color:white !important;
  text-align: center;
  cursor: pointer;
}

.swiper-button-next .swiper-button-next-icon,
.swiper-button-prev .swiper-button-prev-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  /* Add your icon styles or use an icon font */
}
.swiper-button-prev {
    left: 10px;
  }
  
  .swiper-button-next {
    right: 10px;
  }

  .swiper-pagination {
    position: absolute;
    bottom: 120px !important;
    left: 50%;
    transform: translateX(-50%);
  }
  .swiper-pagination-bullet{
    width: 10px !important;
    height: 10px !important;
  }
  .swiper-pagination-bullet-active {

    background-color: #000 !important;
  /* Media queries for responsive scaling */
  
  }
  
  
  .second-nav::-webkit-scrollbar{
    height: 0;
  }
  

  div#portfolio{
    text-align: center;
    background-color: #000;
    padding-top: 1rem;
    padding-bottom: 3rem;
  }
  #portfolio h1{
    color: white;
    margin-bottom: 15px;
  }
  #portfolio p{
    font-size: 18px;
    color: #A4A4A4;
    margin-bottom: 15px;
  }
  ul.second-nav{
    background-color: #343434;
    width: max-content;
    margin: 0 auto;
    overflow: auto;
    display: flex;
    cursor: pointer;
  }
  ul.second-nav li{
    cursor: pointer;
    font-weight: 600;
  }
  #btns-container{
    min-height: 30vh;
  }
  #btns-container div{
    height: 20vw;
    width: 100%;
    margin-top: 40px;
    display: none;
  }
  #btns-container div:nth-child(even){
    background-color: rgb(255, 255, 255);
  }
  #btns-container div:nth-child(odd){
    background-color: rgb(154, 19, 19);
  }
  
  #btns-container div.active{
    display: block;
  }

  section#contact{
    text-align: center;
    background-color:black;
    padding-bottom: 3rem;
  }
  section#contact h1{
    color: white;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 30px;
  }
  section#contact .container > p{
    font-size: 18px;
    color: #A4A4A4;
    margin-bottom: 30px;
  }
  .email-address-call-us{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 3rem;
  }
  .email-address-call-us div{
    background-color: #1F1F1F;
    color: white;
    padding: 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    justify-content: center;
  }
  .email-address-call-us h4{
    color: #C8C8C8;
    /* font-size: 25px; */

  }
  .email-address-call-us p{
   color: white;
   /* font-size: 13px; */
  }

  .form-map{
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 20px;
    

  }
  .form-map div{
    flex: 1;
  }
  .form-map label{
    color: white;
  }
  label{
    display: block;
    font-size: 20px;
    
  }
  .form-map input, textarea{
    border-color: #6F6F6F;
    padding: 8px;
    background-color: transparent;
    outline: none;
    border: none;
    border: 1px #6F6F6F solid ;
    border-radius: 5px;
    margin-bottom: 13px;
    color: white;
    resize: none;
  }
  .form-map input#name, .form-map input#email{
    
    width: calc(50% - 10px);
  }
  .form-map input#name{
    margin-right: 12px;
  }
  .form-map input#subject{
    width: 100%;
  }
  .form-map textarea{
    height: 150px;
    width: 100%;
  }
  
  .form-map .frame{
    width: 100%;
    height: 100%;
  }

  .send-message{
    height: 20px;
    width: 100%;
   color: black;
   height: 50px;
   background-color: #FFB800;
   font-size: 20px;
  }
  
  section.update-follow{
    background-color: #1E1E1E;
    padding: 3rem 0;
  }
  section.update-follow h3{
    color: white;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 300;
  }
  .meet-ceo-and-ig-post{
    display: flex;
    gap: 30px;
  }
  .meet-ceo-and-ig-post > div{
    width: 40%;
  }
  .meet-ceo-and-ig-post img{
    width: 100%;
  }
  .small-profile{
    background-color: #303030;
    color: white;
    font-size: 20px;
    padding: 1rem;
  }
  .small-profile h4{
    font-weight: 300;
  }
  .meet{
    font-weight: 200;
  }
  .text-muted{
    color: #A4A4A4;
    font-size: 15px;
    font-weight: 100;
  }

  footer{
    background-color: black;
    color: white;
    padding-top: 3rem;
    min-height: 90vh;
  }
  div.first-footer{
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-top: 4rem;
    margin-bottom: 4rem;
    
  }
  .first-footer > div{
    width: 30%;
  }
  .first-footer h4{
    font-size: 20px;
    margin-bottom: 10px;
    color: #F6F6F6;
  }
  .first-footer li, address, .contact-info div{
    margin-bottom: 0.75rem;
  }
  .first-footer li a, address, .contact-info div{
    color: #BFBFBF;
    font-size: 14px;
  }

  .hr{
    height: 1px;
    background-color:#504C4C;
    width: 100%;
  }
  .second-footer{
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #social-media-links{
    display: flex;
    gap: 8px;
  }
  #social-media-links a{
    display: block;
    height: 40px;
    width: 40px;
  }
  #social-media-links a img{
    height: 100%;
    width: 100%;
  }
  #copyrights:not(span.kaks-footer){
    color: #BFBFBF;
  }
  span.kaks-footer{
    color: white;
  }

  @media screen and (orientation: landscape) {
    *{
    
    }
    h1{
      font-size: 2.8rem;
    }
    p{
      font-size: 16px;
    }
    .first-content h1 {
      font-size: 2.8rem;
    }
  }

  /* media queries */
  @media screen and (max-width: 995px){
    .navs{
      width: 78%;
    }
  }

  @media screen and (max-width: 940px){
    .navs{
      width: 84%;
    }
  }

  @media screen and (max-width: 920px){
    div.first-footer{
      width: 100%;
    }
  }
  @media screen and (max-width: 860px){
    .navs{
      display: none;
    }
    .logo{
      height: 60px;
      width: 60px;
  }
  .header-container{
    padding: 10px 0;
  }
    .hamburger-container{
      display: block;
    
    }
    .hamburger-container div{
      transition: all 300ms ease-in-out;
    }
    
    
    .hamburger-container .clicked{
      display: none;
    }
    .full-width-nav{
    background-color: rgb(255, 255, 255);
    height: fit-content;
    width: 100%;
    position: fixed;
    top: 0;
    }
    .toggled.full-width-nav {
      height: 100%;
      padding: 10px 0;
      z-index: 999;

    }
    
    .toggled .navs {
      width: 100%;
      flex-direction: column;
      left: 0;
      top: 82px;
      position: absolute;
      display: block;
    }

    .toggled .nav-bar {
      flex-direction: column;
      align-items: flex-start;
      background-color: white;
    }

    .toggled .nav-bar a {
      color: black;
      padding: 20px 0px;
      border-radius: 20px;
      text-transform: capitalize;
      display: inline-block;
      text-align: center;
    }

    .toggled header {
      position: relative;
    }
    .toggled #contacting{
      color: black;
      background-color: white;
      text-align: left;
      padding: 0;
      display: block;
      margin-top: 8px;
    }
    .hero-second-part{
      margin-top: 0;
      width: 100%;
      padding-top: 313px;
    }

  }

  /* 768 px */

  @media screen and (max-width: 768px){

    

    h1 :not(.first-content h1){
      font-size: 3rem !important;
    }
    
    p{
      font-size: 16px !important;
    }
    .first-content h1{
      line-height: 1;
      font-size: 3rem;
    }

    


    /* section three */

    /*  */
    .email-address-call-us div{
      padding: 22px;
    }

    /* nav */
    
    /* contact */
    .meet-ceo-and-ig-post{
      flex-direction: column;
    }
    .meet-ceo-and-ig-post div{
      width: 100%;
    }
  }

  @media screen and (max-width: 700px){
    .email-address-call-us{
      flex-direction: column;
    }
    .email-address-call-us div{
      width: 100%;
    }
    .form-map{
      flex-direction: column;
    }
    .form-map .frame{
      height: 400px;
    }
    .send-message{
      margin-top: 12px;
    }

    /* swiper */
    .swiper-pagination{
      bottom: 221px !important;
    }

    .second-footer {
      padding-top: 3rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      gap: 20px;
      padding-bottom: 2rem;
  }
}
@media screen and (max-width: 640px){
  ul.second-nav{
    width: auto;
  }
  ul.second-nav li{
    font-size: 14px;
  }
}

  @media screen and (max-width: 640px){
    div.first-footer{
      flex-direction: column;
      gap: 10px;
      margin-top: 0;
      
    }
    
  }
  @media screen and (max-width: 640px){
    .show-boat .container{
      gap: 10px;
    }
    .show-boat .container div .figure{
      font-size: 20px;
    }
    .show-boat .container div .name{
      font-size: 16px;
    }
  }

  @media screen and (max-width: 580px){
    /* second part */
    #boxes{
      flex-direction: column;
      margin-top: 1rem;
    }
    #boxes div{
      width: auto;
    }
    #learn-more a{
      padding: 8px 21px;
      font-size: 24px;
    }
    
    /* third part */
    #image-imported{
      height: 40vh;
    }
    #image-imported img{
      height: 100%;
    }
  }

  @media screen and (max-width: 500px) {
    
    .sections{
      padding: 28px;
    }
    .sections p{
      font-size: 15px !important;
    }
    .sections h4{
      font-size: 18px !important;
    }

    div.first-footer div{
      text-align: center;
    }
    div.first-footer{
      align-items: center;
    }
    .first-footer h4{
      font-size: 16px;
    }
  }
